@media all and (max-width: 1000px) {
 .top-wrapper h1{
    font-size: 18px;
    width: 100%;
    }
  .container{
    width: 100%;
    font-size: 13px;
  }
.lesson {
    width: 100%;
    margin-bottom: 30px;
  }
