* {
  box-sizing: border-box;
}
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
header{
  background-color:blue;

}
body {
  font-family: "arial";
}
ul{
  list-style-type:none;
  float: right;
  margin-top: 20px;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color:white;
  padding: 5px 20px;
  border: 1px solid transparent;
  border-radius: 10px;
}
ul li a:hover{
  background-color: rgba(255, 255, 255,0.5);
  color:white;
}
.foto{
 font-size: 25%;
}
.top-wrapper {
  padding: 250px 0 200px 0;
  background-image: url('img/movie.jpg');
  background-size: cover;
  color: white;
  filter: brightness(68%);
}

.container {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;

}
.top-wrapper p {
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}
.watch {
  padding: 12px 24px;
    color: white;
    background-color: #1ED760;
    display: inline-block;
     text-decoration: none;
    position: relative;
    border-radius: 5px 5px;
    font-weight: 700;
}
.watch:hover{
border-radius:10px;
color:black;
background-color:white;
}
body {
  margin: 0;
  font-family: "Lucida Grande";
  
}

a {
  text-decoration: none;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;

}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  font-size: 20px;
  top: 75px;
  width: 100%;
  color: black;

}
.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
  color: #b3aeb5;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  color: white;
  padding: 15px 40px;
  background-color: #00008B;
  cursor: pointer;
}

.message:hover {
  border-radius: 10px;
  color: black;
  background-color: ;
}




header {
  height: 60px;
  width: 100%;
  background-color: rgba(0,0,0,0.50);
  position: fixed;
  top: 0;
  z-index: 10;
}
.logo{
  width: 124px;
  float: left;
  margin-left: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: transparent;
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
}
.img{
  height: 20px;
  width:50px;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 30px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  bottom: 0px;
  width: 100%;
  background: #111;
  color: rgba(248, 248, 255,0.5);
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
